{% extends "base.html" %}
{% block content %}
    {% block content_title %}
    {% endblock %}
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <article>
                <h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
                {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
                    <div>
                        {% include "includes/article_info.html" %}
                    </div>
                {% endif %}
                <div class="summary">
                    {{ article.summary }}
                    <a href="{{ SITEURL }}/{{ article.url }}" class="border border-gray-light px-4 py-1 my-1 rounded inline-block">More...</a>
                </div>
            </article>
            {% if not loop.last %}
                <hr class="my-3" />
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="mt-1 flex justify-center">
        {% include 'includes/pagination.html' %}
    </div>
{% endblock content %}
