<div class="bg-white border-b border-gray-400 shadow-lg sm:sticky top-0 sm:h-20 md:h-24 z-40 items-center">
<header id="banner" class="sm:h-12 md:h-20 w-full mx-auto sm:flex sm:justify-between sm:items-center sm:px-4 sm:py-3 mt-2">
    <div class="flex items-center justify-between px-4 py-3 sm:p-2 md:text-2xl">
        <h1 class="p-4"><a href="{{ SITEURL }}/">{{ SITENAME }}{% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
    </div>

    <nav id="menu" class="p-2">
        <ul>
            {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU %}
            {% for p in pages %}
            <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
            {% endif %}
            {% if DISPLAY_CATEGORIES_ON_MENU %}
            {% for cat, null in categories %}
            <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
            {% endif %}
        </ul>
    </nav>
</header>
</div>
