{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Archives{% endblock %}

{% block content %}
<h1>Archives for {{ SITENAME }}</h1>

{% for year, date_year in dates|groupby( 'date.year' )|sort(reverse=True) %}
    <h3 class="mt-4">{{ year }}</h3>
    <dl class="grid sm:grid-cols-2">
    {% for article in date_year %}
        <dt class="text-sm text-gray-500 mt-2">{{ article.locale_date }}</dt>
        <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
    {% endfor %}
    </dl>
{% endfor %}
{% endblock %}
